body{
    background-color: #330202;
    color: #fff;
    font-family: 'EB Garamond', serif;
    margin: 0;
}
h1, h2{
    font-family: 'Cinzel Decorative', cursive;
    color: #d9ba6c;
}
header{
    background-color: #161d2d;
    padding: 1rem;
}
nav>a{
    color: #d9ba6c;
    border: 1px solid #d9ba6c;
    text-decoration: none;
    padding: 1rem;
    font-weight: 800;
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
}
nav>a:hover{
    border-color: transparent;
    background-color: ;
}
